/* Address container */

.contact-container {
  width: 70%;
  padding: 0 2rem;
  display: grid;
  grid-template-areas:
    "title title"
    "address address"
    "address address"
    "city ."
    "postcode ."
    "country ."
    "btn btn";
  grid-template-rows: 20% 25% 1fr 1fr 1fr 1fr 20%;
  gap: 1rem 0.5rem;
  font-size: 16px;
}

.section-title {
  grid-area: title;
  display: flex;
  font-size: 30px;
  text-align: center;
  align-items: center;
  border-bottom: 0.5px solid #dee2e6;
}

.address-info {
  display: flex;
  gap: 1.2rem 0;
  flex-direction: column;
  grid-area: address;
}

.city {
  display: flex;
  gap: 0.8rem 0;
  flex-direction: column;
  grid-area: city;
}
.postcode {
  display: flex;
  gap: 0.8rem 0;
  flex-direction: column;
  grid-area: postcode;
}

.country {
  display: flex;
  gap: 0.8rem 0;
  flex-direction: column;
  grid-area: country;
}

.btn {
  grid-area: btn;
  padding-top: 12px;
}
