.container {
  display: flex;
  height: auto;
  width: 100%;
  justify-content: center;
}

.section-container {
  padding-left: 5%;
  padding-top: 3%;
  padding-bottom: 3%;
  width: 90%;
  display: flex;
  height: 90%;
  justify-content: center;
  align-items: center;
}

.filter {
  height: auto;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: flex-start;
  align-content: center;

  width: 20%;
}
.filter-title {
  font-size: 24px;
  text-align: center;
  padding: 20px 0 40px;
}

.filter-item {
  height: 60px;
  width: 120px;
}
.product-side {
  height: 100%;
  width: 80%;
  display: flex;
  align-items: flex-start;
  justify-content: start;
  gap: 1rem;
  flex-wrap: wrap;
}
